{% extends "layout.html" %}

{% block content %}


<div class="analysis-wrapper">



  <!-- Sidebar on the right 
  <div class="sidebar">
    <a href="#" class="tag-item tag-yellow">Objectives</a>
    <a href="#" class="tag-item tag-purple">Methodology</a>
    <a href="#" class="tag-item tag-green">Tests</a>  
    <a href="#" class="tag-item tag-blue">Findings</a>
    <a href="#" class="tag-item tag-pink">Analysis</a>
    <a href="#" class="tag-item tag-orange">summary</a>
  </div>
  -->


  <!-- Main Content Area -->
  <div class="main-content">
    {% block analysis_content %}{% endblock %}
  </div>

</div>
{% endblock %}

{% block scripts %}
  {% block analysis_scripts %}{% endblock %}
{% endblock %}
